### Soccermatics
#### Assignment 2
##### Instructions
* It is summer of 2018. The head scout of your club (the one which group you are in) is looking to sign a player to improve your defence. It doesn't need to be a defender. But it does need to be a player who will strength some aspect of your defensive play.
* She is interested in hearing about a variety of methods for scouting players, so she asks you to create a player radar. You should primarily use the Wyscout data, but can also use Transfermarkt to find the prices of players in summer 2018.
* You should do the following steps:
   1. Implement a number of defensive metrics based on statistical scouting (lesson 3) and valuing actions (lesson 4).
      * Four to six metrics is about right.
      * Create player radars for your own team's players in the position you aim to replace (one of goalkeeper, defender, midfielder, forward).
      * Write a simple non-technical text (at most one page) explaining your radars to the scout and what assumptions it makes.
      * Points will be awarded for the novelty of the metric, the clarity of the explanation and for the technical difficulty of the contribution. (12 points).
   2. Use one of the metrics on your radar to find a single player in another league (not the Premier league), who you would recommend signing.
      * Produce a top-10 list of players in this league for one of the metrics.
      * On this basis, choose a player you would recommend and create a player radar for him. (3 points)
   3. By midnight Friday 30th September send your report (steps 1 and 2) to the other members of your group.
      * On Monday the 3rd of October, you will each present a radar for your player chosen in stage 2 within your group.
      * Your presentation should be no more than 2 minutes.
      * After the presentations, you will have a group discussion comparing your choices.
      * You should write contrasting your own and the other reports and make a final recommendation on this basis (participation in meeting 2 points; final report 3 points)
   4. The final report (deadline Wednesday 5th October) should be 4 pages: roughly 2 pages for part 1, 1 page for part 2, and 1 page for part 3.
   
   
Submit a separate runnable piece of code (preferably in Python) which when put in the directory of the Wyscout data creates the radars. This code must be single file and only uses standard libraries (mplsoccer is fine) and should be runnable when put in the folder with Wyscout data.

I have chosen to scout for Liverpool FC, looking for a midfielder who can help improve defensive outcomes by evaluating performance across the following metrics:
(all posession adjusted per 90):
* Interceptions
* Defensive duel won via anticipation (1801 = successful, 601, 602 = anticipation) Anticipation (602) is used with Defensive Duel and Anticipated (601) is used with Offensive Duel. https://footballdata.wyscout.com/events-manual/
* Passes made as part of a counterattack
* Dribbled past?

In [1]:
import pandas as pd
import numpy as np

from tqdm import tqdm

from dataclasses import dataclass

import matplotlib.pyplot as plt

import statsmodels.api as sm
import statsmodels.formula.api as smf

import os
import pathlib
import warnings

from scipy import stats
from mplsoccer import PyPizza, FontManager

In [2]:
MINIMUM_90s = 5
TARGET_ROLE = 'Midfielder' # Goalkeeper, Defender, Midfielder, Forward

In [3]:
# incomplete but good enough?
# this data uses v2 API
# https://docs.google.com/document/d/11mNbM7kX2xKStQ1UCoBfUgYNxJ2b1Kgqrg_x8wC6JQo/edit
# https://apidocs.wyscout.com/
wyscout_tags = [
    (101, "goal"),
    (102, "own_goal"),
    (301, "assist"),
    (302, "key_pass"),
    (1901, "counter_attack"),
    (401, "left_foot"),
    (402, "right_foot"),
    (403, "head/body"),
    (1101, "direct"),
    (1102, "indirect"),
    (2001, "dangerous_ball_lost"),
    (2101, "blocked"),
    (801, "high"),
    (802, "low"),
    (1401, "interception"),
    (1501, "clearance"),
    (201, "opportunity"),
    (1301, "feint"),
    (1302, "missed_ball"),
    (501, "free_space_right"),
    (502, "free_space_left"),
    (503, "take_on_left"),
    (504, "take_on_right"),
    (1601, "sliding_tackle"),
    (601, "anticipated"),
    (602, "anticipation"),
    (1701, "red_card"),
    (1702, "yellow_card"),
    (1703, "second_yellow_card"),
    (1201, "position_goal_low_center"),
    (1202, "position_goal_low_right"),
    (1203, "position_goal_mid_center"),
    (1204, "position_goal_mid_left"),
    (1205, "position_goal_low_left"),
    (1206, "position_goal_mid_right"),
    (1207, "position_goal_high_center"),
    (1208, "position_goal_high_left"),
    (1209, "position_goal_high_right"),
    (1210, "position_out_low_right"),
    (1211, "position_out_mid_left"),
    (1212, "position_out_low_left"),
    (1213, "position_out_mid_right"),
    (1214, "position_out_high_center"),
    (1215, "position_out_high_left"),
    (1216, "position_out_high_right"),
    (1217, "position_post_low_right"),
    (1218, "position_post_mid_left"),
    (1219, "position_post_low_left"),
    (1220, "position_post_mid_right"),
    (1221, "position_post_high_center"),
    (1222, "position_post_high_left"),
    (1223, "position_post_high_right"),
    (901, "through"),
    (1001, "fairplay"),
    (701, "lost"),
    (702, "neutral"),
    (703, "won"),
    (1801, "accurate"),
    (1802, "not_accurate")
]

In [4]:
wyscout_tags_dict = dict(wyscout_tags)

In [5]:
def get_wyscout_data(file_name, sub_directory=None):

    if sub_directory:
        path = os.path.join(str(pathlib.Path().resolve().parents[0]), 'data', 'Wyscout', sub_directory, file_name)
    else:
        path = os.path.join(str(pathlib.Path().resolve().parents[0]), 'data', 'Wyscout', file_name)

    #open data
    with open(path) as f:
        df = pd.read_json(f, encoding='latin')
    
    return df

In [6]:
df_competitions = get_wyscout_data('competitions.json')
df_teams = get_wyscout_data('teams.json')
df_players = get_wyscout_data('players.json')
df_players['role_name'] = df_players['role'].apply(lambda x: x.get('name'))

In [7]:
league_countries = ['England', 'Spain', 'Italy', 'Germany', 'France'] # ignore internationals i.e. World Cup and EUROs

In [8]:
matches = {}

for country in league_countries:
    file_name = 'matches_' + country + '.json'
    matches[country] = get_wyscout_data(file_name, sub_directory='matches')

df_matches = pd.concat(matches).reset_index()

In [9]:
events = {}

for country in tqdm(league_countries):
    file_name = 'events_' + country + '.json'
    events[country] = get_wyscout_data(file_name, sub_directory='events')

df_events = pd.concat(events).reset_index()

100%|██████████| 5/5 [01:31<00:00, 18.36s/it]

In [10]:
minutes_per_game = {}

for country in league_countries:
    file_name = 'minutes_played_per_game_' + country + '.json'
    minutes_per_game[country] = get_wyscout_data(file_name, sub_directory='minutes_played')

df_minutes_per_game = pd.concat(minutes_per_game).reset_index()

In [11]:
group_by = ['playerId', 'shortName'] # group_by = ['level_0', 'playerId', 'shortName']

df_minutes_season = df_minutes_per_game[group_by + ['minutesPlayed']].groupby(group_by).sum()
df_minutes_season

                          minutesPlayed
playerId shortName
33       J. Cillessen                93
36       T. Alderweireld           1238
38       D. Blind                   382
45       G. van der Wiel            313
48       J. Vertonghen             3343
...                                 ...
545811   Hugo Duro                   24
551398   David Alba                  63
564512   S. Sanogo                   44
566942   E. Loiodice                178
568583   Juan Cruz                   10

[2570 rows x 1 columns]

In [12]:
team_id_liverpool = df_teams[df_teams['name']=='Liverpool']['wyId'].to_numpy()[0]
team_id_liverpool

1612

In [13]:
df_liverpool_players = df_players[df_players['currentTeamId']==team_id_liverpool]
df_liverpool_players

,passportArea,weight,firstName,middleName,lastName,currentTeamId,birthDate,height,role,birthArea,wyId,foot,shortName,currentNationalTeamId,role_name
667,"{'name': 'Serbia', 'id': '688', 'alpha3code': ...",82,Marko,,Gruji\u0107,1612,1996-04-13,191,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'Serbia', 'id': '688', 'alpha3code': ...",237268,right,M. Gruji\u0107,17322,Midfielder
686,"{'name': 'England', 'id': '0', 'alpha3code': '...",67,Jordan Brian,,Henderson,1612,1990-06-17,182,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'England', 'id': '0', 'alpha3code': '...",7964,right,J. Henderson,2413,Midfielder
736,"{'name': 'Belgium', 'id': '56', 'alpha3code': ...",87,Simon,,Mignolet,1612,1988-03-06,193,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Belgium', 'id': '56', 'alpha3code': ...",8514,right,S. Mignolet,5629,Goalkeeper
1191,"{'name': 'Brazil', 'id': '76', 'alpha3code': '...",76,Roberto Firmino,,Barbosa de Oliveira,1612,1991-10-02,181,"{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...","{'name': 'Brazil', 'id': '76', 'alpha3code': '...",15808,right,Roberto Firmino,6380,Forward
1278,"{'name': 'Switzerland', 'id': '756', 'alpha3co...",72,Xherdan,,Shaqiri,1612,1991-10-10,169,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'Kosovo', 'id': '0', 'alpha3code': 'X...",49872,left,X. Shaqiri,6697,Midfielder
1319,"{'name': 'Germany', 'id': '276', 'alpha3code':...",91,Alisson Rams\u00e9s,,Becker,1612,1992-10-02,191,"{'code2': 'GK', 'code3': 'GKP', 'name': 'Goalk...","{'name': 'Brazil', 'id': '76', 'alpha3code': '...",214220,left,Alisson,6380,Goalkeeper
1380,"{'name': 'England', 'id': '0', 'alpha3code': '...",69,Trent,,Alexander-Arnold,1612,1998-10-07,175,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'England', 'id': '0', 'alpha3code': '...",346101,right,T. Alexander-Arnold,2413,Defender
1719,"{'name': 'Egypt', 'id': '818', 'alpha3code': '...",72,Mohamed,,Salah Ghaly,1612,1992-06-15,175,"{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...","{'name': 'Egypt', 'id': '818', 'alpha3code': '...",120353,left,Mohamed Salah,16129,Forward
1800,"{'name': 'Senegal', 'id': '686', 'alpha3code':...",75,Sadio,,Man\u00e9,1612,1992-04-10,175,"{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...","{'name': 'Senegal', 'id': '686', 'alpha3code':...",25747,right,S. Man\u00e9,19314,Forward
1894,"{'name': 'Croatia', 'id': '191', 'alpha3code':...",84,Dejan,,Lovren,1612,1989-07-05,188,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'Croatia', 'id': '191', 'alpha3code':...",25393,right,D. Lovren,9598,Defender
2600,"{'name': 'Gambia', 'id': 270, 'alpha3code': 'G...",77,Joe,,Gomez,1612,1997-05-23,188,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'England', 'id': 0, 'alpha3code': 'XE...",257899,right,J. Gomez,2413,Defender
2854,"{'name': 'England', 'id': 0, 'alpha3code': 'XE...",70,James,,Milner,1612,1986-01-04,176,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'England', 'id': 0, 'alpha3code': 'XE...",8319,right,J. Milner,null,Midfielder
2864,"{'name': 'Jamaica', 'id': 388, 'alpha3code': '...",76,Daniel,,Sturridge,1612,1989-09-01,180,"{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...","{'name': 'England', 'id': 0, 'alpha3code': 'XE...",7907,left,D. Sturridge,null,Forward
2871,"{'name': 'Suriname', 'id': 740, 'alpha3code': ...",74,Georginio,,Wijnaldum,1612,1990-11-11,175,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'Netherlands', 'id': 528, 'alpha3code...",116,right,G. Wijnaldum,664,Midfielder
2882,"{'name': 'England', 'id': 0, 'alpha3code': 'XE...",73,Adam,,Lallana,1612,1988-05-10,172,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'England', 'id': 0, 'alpha3code': 'XE...",8140,right,A. Lallana,null,Midfielder
2967,"{'name': 'Grenada', 'id': 308, 'alpha3code': '...",67,Nathaniel,,Clyne,1612,1991-04-05,175,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'England', 'id': 0, 'alpha3code': 'XE...",8392,right,N. Clyne,null,Defender
3010,"{'name': 'Cameroon', 'id': 120, 'alpha3code': ...",90,Jo\u00ebl Andre,,Job Matip,1612,1991-08-08,195,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'Germany', 'id': 276, 'alpha3code': '...",14870,right,J. Matip,null,Defender
3017,"{'name': 'Jamaica', 'id': 388, 'alpha3code': '...",70,Alex,,Oxlade-Chamberlain,1612,1993-08-15,175,"{'code2': 'MD', 'code3': 'MID', 'name': 'Midfi...","{'name': 'England', 'id': 0, 'alpha3code': 'XE...",7868,right,A. Oxlade-Chamberlain,null,Midfielder
3058,"{'name': 'Netherlands', 'id': 528, 'alpha3code...",92,Virgil,,van Dijk,1612,1991-07-08,193,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'Netherlands', 'id': 528, 'alpha3code...",370,right,V. van Dijk,664,Defender
3063,"{'name': 'Spain', 'id': 724, 'alpha3code': 'ES...",65,Alberto,,Moreno P\u00e9rez,1612,1992-07-05,171,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'Spain', 'id': 724, 'alpha3code': 'ES...",4908,left,Alberto Moreno,null,Defender
3091,"{'name': 'Scotland', 'id': 0, 'alpha3code': 'X...",63,Andrew,,Robertson,1612,1994-03-11,178,"{'code2': 'DF', 'code3': 'DEF', 'name': 'Defen...","{'name': 'Scotland', 'id': 0, 'alpha3code': 'X...",222220,left,A. Robertson,8664,Defender
3123,"{'name': 'Nigeria', 'id': 566, 'alpha3code': '...",80,Dominic,,Solanke,1612,1997-09-14,185,"{'code2': 'FW', 'code3': 'FWD', 'name': 'Forwa...","{'name': 'England', 'id': 0, 'alpha3code': 'XE...",286831,right,D. Solanke,2420,Forward

In [14]:
df_events

,level_0,level_1,eventId,subEventName,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id
0,England,0,8,Simple pass,[{'id': 1801}],25413,"[{'y': 49, 'x': 49}, {'y': 78, 'x': 31}]",2499719,Pass,1609,1H,2.758649,85,177959171
1,England,1,8,High pass,[{'id': 1801}],370224,"[{'y': 78, 'x': 31}, {'y': 75, 'x': 51}]",2499719,Pass,1609,1H,4.946850,83,177959172
2,England,2,8,Head pass,[{'id': 1801}],3319,"[{'y': 75, 'x': 51}, {'y': 71, 'x': 35}]",2499719,Pass,1609,1H,6.542188,82,177959173
3,England,3,8,Head pass,[{'id': 1801}],120339,"[{'y': 71, 'x': 35}, {'y': 95, 'x': 41}]",2499719,Pass,1609,1H,8.143395,82,177959174
4,England,4,8,Simple pass,[{'id': 1801}],167145,"[{'y': 95, 'x': 41}, {'y': 88, 'x': 72}]",2499719,Pass,1609,1H,10.302366,85,177959175
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3071390,France,632802,10,Shot,"[{'id': 101}, {'id': 401}, {'id': 201}, {'id':...",405977,"[{'y': 65, 'x': 87}, {'y': 100, 'x': 100}]",2501065,Shot,19830,2H,2821.203869,100,253316980
3071391,France,632803,9,Save attempt,"[{'id': 101}, {'id': 1208}, {'id': 1802}]",25521,"[{'y': 0, 'x': 0}, {'y': 35, 'x': 13}]",2501065,Save attempt,3795,2H,2824.817116,91,253316978
3071392,France,632804,8,Simple pass,[{'id': 1801}],295761,"[{'y': 52, 'x': 50}, {'y': 47, 'x': 44}]",2501065,Pass,3795,2H,2888.383858,85,253316981
3071393,France,632805,8,Simple pass,[{'id': 1801}],249926,"[{'y': 47, 'x': 44}, {'y': 8, 'x': 41}]",2501065,Pass,3795,2H,2889.654402,85,253316982
3071394,France,632806,8,Simple pass,[{'id': 1802}],393284,"[{'y': 8, 'x': 41}, {'y': 0, 'x': 0}]",2501065,Pass,3795,2H,2891.153313,85,253316983

In [15]:
group_by = ['eventId', 'subEventId', 'eventName', 'subEventName']

df_events_grouped = df_events[group_by + ['id']].groupby(group_by).count().sort_values('eventId', ascending=False)
df_events_grouped.columns = ['number_of_events']
df_events_grouped

                                                                    number_of_events
eventId subEventId eventName               subEventName
10      100        Shot                    Shot                                40461
9       91         Save attempt            Save attempt                         6375
        90         Save attempt            Reflexes                            10192
8       83         Pass                    High pass                          123214
        80         Pass                    Cross                               58634
        81         Pass                    Hand pass                           13135
        82         Pass                    Head pass                           91194
        84         Pass                    Launch                              43303
        85         Pass                    Simple pass                       1207448
        86         Pass                    Smart pass                          28428
7       72         Others on the ball      Touch                              165296
        71         Others on the ball      Clearance                           53165
        70         Others on the ball      Acceleration                        24376
6                  Offside                                                      7821
5       51         Interruption            Whistle                               917
        50         Interruption            Ball out of the field              129179
4       40         Goalkeeper leaving line Goalkeeper leaving line              5779
3       36         Free Kick               Throw in                            80305
        34         Free Kick               Goal kick                           29725
        33         Free Kick               Free kick shot                       2038
        32         Free Kick               Free kick cross                      8134
        31         Free Kick               Free Kick                           43544
        30         Free Kick               Corner                              18181
        35         Free Kick               Penalty                               541
2       25         Foul                    Simulation                            108
        27         Foul                    Violent Foul                           74
        26         Foul                    Time lost foul                        205
        24         Foul                    Protest                               561
        23         Foul                    Out of game foul                      473
        22         Foul                    Late card foul                        300
        21         Foul                    Hand foul                            1941
        20         Foul                    Foul                                44293
1       12         Duel                    Ground defending duel              264552
        11         Duel                    Ground attacking duel              265456
        13         Duel                    Ground loose ball duel             143861
        10         Duel                    Air duel                           158186

In [16]:
def filter_by_event_or_sub_event(df=df_events, eventId=None, subEventId=None):

    df_filtered = df.copy(deep=True)
    
    if eventId:
        df_filtered = df_filtered[df_filtered['eventId']==eventId]

    if subEventId:
        df_filtered = df_filtered[df_filtered['subEventId']==subEventId]

    return df_filtered

In [17]:
def get_tags_for_event(eventId=None, subEventId=None):

    df_filtered = filter_by_event_or_sub_event(eventId=eventId, subEventId=subEventId)
        
    df_exploded = df_filtered.explode('tags')
    df_exploded['tag_id'] = df_exploded['tags'].apply(lambda x: x.get('id'))

    df_grouped = df_exploded[['tag_id', 'eventName', 'subEventName', 'eventId']].groupby(['eventName', 'subEventName', 'tag_id']).count()
    df_grouped = df_grouped.sort_values('eventId', ascending=False)
    df_grouped.columns = ['number_of_events']

    return df_grouped

In [18]:
get_tags_for_event(eventId=1, subEventId=12)

                                        number_of_events
eventName subEventName          tag_id
Duel      Ground defending duel 1801              133399
                                1802              131153
                                701               130720
                                702                75284
                                703                58111
                                502                30149
                                501                29330
                                504                27143
                                503                22843
                                601                16358
                                1601               12299
                                1901                2886
                                602                  182
                                1702                   1
                                1703                   1

In [19]:
def get_metrics(df=df_events, eventId=None, subEventId=None, tags=[]):
    '''
    Takes a Wyscout Event ID and/or Sub Event ID, plus a list of Wyscout event tags
    Returns a dataframe of events where all tags in the list were found
    '''

    df_events_meeting_criteria = filter_by_event_or_sub_event(eventId=eventId, subEventId=subEventId)

    for tag in tags:
        tag_name = wyscout_tags_dict[tag]
        df_events_meeting_criteria[tag_name] = df_events_meeting_criteria['tags'].apply(lambda x: {'id':tag} in x)
        df_events_meeting_criteria = df_events_meeting_criteria[df_events_meeting_criteria[tag_name]==True]

    return df_events_meeting_criteria

In [90]:
get_metrics(tags=[2101]).groupby(['subEventName']).count()

,level_0,level_1,eventId,tags,playerId,positions,matchId,eventName,teamId,matchPeriod,eventSec,subEventId,id,blocked
subEventName,,,,,,,,,,,,,,
Corner,29,29,29,29,29,29,29,29,29,29,29,29,29,29
Cross,9677,9677,9677,9677,9677,9677,9677,9677,9677,9677,9677,9677,9677,9677
Free kick cross,45,45,45,45,45,45,45,45,45,45,45,45,45,45
Free kick shot,680,680,680,680,680,680,680,680,680,680,680,680,680,680
Shot,9548,9548,9548,9548,9548,9548,9548,9548,9548,9548,9548,9548,9548,9548

In [21]:
def summarise_events_by_player(df_of_specific_events, plain_english_label=False):
    
    df_grouped = df_of_specific_events[['playerId', 'id']].groupby('playerId').count()
    df_grouped.columns = [plain_english_label]

    return df_grouped

In [22]:
@dataclass
class PlayerMetric:
    '''Class for storing a complete definition of a player metric.'''
    metric_name: str
    eventId: int
    subEventId: int
    tags: list
    bigger_is_better: bool

In [73]:
metrics_definitions = [ 
    PlayerMetric('ground_duels_won_by_anticipation', 1, 12, [601, 1801], True), 
    PlayerMetric('interceptions', None, None, [1401], True),
    PlayerMetric('key_passes', 8, None, [302, 1801], True),
    PlayerMetric('passes_as_part_of_counterattack', 8, None, [1901, 1801], True),
    # PlayerMetric('dangerous_balls_given_away', None, None, [2001], False),
]

df_player_aggregates = pd.DataFrame()

for definition in metrics_definitions:
    df_each_event = get_metrics(df=df_events, eventId=definition.eventId, subEventId=definition.subEventId, tags=definition.tags)
    df_player_aggregates = pd.concat([df_player_aggregates, summarise_events_by_player(df_each_event, definition.metric_name)], axis=1)

In [74]:
df_player_aggregates

,ground_duels_won_by_anticipation,interceptions,key_passes,passes_as_part_of_counterattack
playerId,,,,
0,1106.0,240.0,NaN,NaN
36,1.0,54.0,2.0,6.0
38,2.0,21.0,1.0,3.0
45,1.0,17.0,1.0,NaN
48,33.0,211.0,3.0,18.0
...,...,...,...,...
367391,NaN,NaN,NaN,1.0
400564,NaN,NaN,NaN,1.0
447254,NaN,NaN,NaN,1.0
461671,NaN,NaN,NaN,1.0
545811,NaN,NaN,NaN,1.0

In [75]:
df_all_players = df_players[['wyId', 'shortName', 'firstName', 'lastName', 'currentTeamId', 'role_name']]
df_all_players

,wyId,shortName,firstName,lastName,currentTeamId,role_name
0,32777,H. Tekin,Harun,Tekin,4502,Goalkeeper
1,393228,M. Sarr,Malang,Sarr,3775,Defender
2,393230,O. Mandanda,Over,Mandanda,3772,Goalkeeper
3,32793,A. N'Diaye,Alfred John Momar,N'Diaye,683,Midfielder
4,393247,I. Konat\u00e9,Ibrahima,Konat\u00e9,2975,Defender
...,...,...,...,...,...,...
3598,120839,A. Ma\u00e2loul,Ali,Ma\u00e2loul,16041,Defender
3599,114736,C. C\u00e1ceda,Carlos Alberto,C\u00e1ceda Oyaguez,15591,Goalkeeper
3600,114908,M. Araujo,Miguel Gianpierre,Araujo Blanco,12072,Defender
3601,285583,A. Tagnaouti,Ahmed Reda,Tagnaouti,16183,Goalkeeper
3602,361536,R. Avila,Ricardo,Guardia Avila,62943,Midfielder

In [76]:
df_all_players_with_minutes = df_all_players.merge(df_minutes_season, how='left', left_on='wyId', right_on='playerId')
df_all_players_with_minutes['minutesPlayed'] = df_all_players_with_minutes['minutesPlayed'].fillna(0)
df_all_players_with_minutes['90s'] = df_all_players_with_minutes['minutesPlayed'] / 90
df_all_players_with_minutes = df_all_players_with_minutes[df_all_players_with_minutes['90s']>=MINIMUM_90s]
df_all_players_with_minutes.sort_values('minutesPlayed', ascending=False)

,wyId,shortName,firstName,lastName,currentTeamId,role_name,minutesPlayed,90s
2915,8726,A. Begovi\u0107,Asmir,Begovi\u0107,1659,Goalkeeper,3612.0,40.133333
1540,20635,F. Acerbi,Francesco,Acerbi,3315,Defender,3591.0,39.900000
743,8653,H. Maguire,Harry,Maguire,1631,Defender,3586.0,39.844444
1794,350999,G. Donnarumma,Gianluigi,Donnarumma,3157,Goalkeeper,3583.0,39.811111
801,10131,J. Pickford,Jordan,Pickford,1623,Goalkeeper,3575.0,39.722222
...,...,...,...,...,...,...,...,...
90,99633,I. Lewczuk,Igor,Lewczuk,3772,Defender,457.0,5.077778
413,364870,Adri\u00e1n Di\u00e9guez,Adri\u00e1n,Di\u00e9guez Grande,696,Defender,452.0,5.022222
562,366542,J. Reine-Adelaide,Jeff,Reine-Adelaide,3799,Midfielder,451.0,5.011111
2697,658,S. Armenteros,Kristiano Samuel,Armenteros Nunez Mendoza Jansson,8113,Forward,451.0,5.011111
1099,15061,T. Sippel,Tobias,Sippel,2454,Goalkeeper,450.0,5.000000

In [77]:
df_all_players_with_minutes_and_metrics = df_all_players_with_minutes.merge(df_player_aggregates, how='left', left_on='wyId', right_index=True)

for definition in metrics_definitions:
    if definition.bigger_is_better:
        df_all_players_with_minutes_and_metrics[definition.metric_name] = df_all_players_with_minutes_and_metrics[definition.metric_name].fillna(0)

df_all_players_with_minutes_and_metrics

,wyId,shortName,firstName,lastName,currentTeamId,role_name,minutesPlayed,90s,ground_duels_won_by_anticipation,interceptions,key_passes,passes_as_part_of_counterattack
1,393228,M. Sarr,Malang,Sarr,3775,Defender,1379.0,15.322222,6.0,71.0,1.0,2.0
4,393247,I. Konat\u00e9,Ibrahima,Konat\u00e9,2975,Defender,1267.0,14.077778,9.0,72.0,1.0,2.0
6,36,T. Alderweireld,Toby,Alderweireld,1624,Defender,1238.0,13.755556,1.0,54.0,2.0,6.0
7,48,J. Vertonghen,Jan,Vertonghen,1624,Defender,3343.0,37.144444,33.0,211.0,3.0,18.0
8,229427,A. Djiku,Alexander,Djiku,3783,Defender,2613.0,29.033333,34.0,170.0,0.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
3402,292654,M. Diakhaby,Mouctar,Diakhaby,674,Defender,765.0,8.500000,5.0,55.0,0.0,5.0
3408,325781,J. Lea Siliki,James Edward,Lea Siliki,3774,Midfielder,1820.0,20.222222,4.0,53.0,5.0,15.0
3409,326946,R. Coly,Racine,Coly,3775,Defender,639.0,7.100000,3.0,42.0,1.0,0.0
3423,393214,V. Rosier,Valentin,Rosier,3804,Defender,2881.0,32.011111,11.0,193.0,6.0,7.0
3457,25589,L. San\u00e9,Ludovic Lamine,San\u00e9,8068,Defender,808.0,8.977778,7.0,61.0,0.0,1.0

In [78]:
for definition in metrics_definitions:
    column_name_per_90 = definition.metric_name + '_p90'
    df_all_players_with_minutes_and_metrics[column_name_per_90] = df_all_players_with_minutes_and_metrics[definition.metric_name] / df_all_players_with_minutes_and_metrics['90s']

In [79]:
df_all_players_with_minutes_and_metrics

,wyId,shortName,firstName,lastName,currentTeamId,role_name,minutesPlayed,90s,ground_duels_won_by_anticipation,interceptions,key_passes,passes_as_part_of_counterattack,ground_duels_won_by_anticipation_p90,interceptions_p90,key_passes_p90,passes_as_part_of_counterattack_p90
1,393228,M. Sarr,Malang,Sarr,3775,Defender,1379.0,15.322222,6.0,71.0,1.0,2.0,0.391588,4.633793,0.065265,0.130529
4,393247,I. Konat\u00e9,Ibrahima,Konat\u00e9,2975,Defender,1267.0,14.077778,9.0,72.0,1.0,2.0,0.639305,5.114444,0.071034,0.142068
6,36,T. Alderweireld,Toby,Alderweireld,1624,Defender,1238.0,13.755556,1.0,54.0,2.0,6.0,0.072698,3.925687,0.145396,0.436187
7,48,J. Vertonghen,Jan,Vertonghen,1624,Defender,3343.0,37.144444,33.0,211.0,3.0,18.0,0.888424,5.680526,0.080766,0.484595
8,229427,A. Djiku,Alexander,Djiku,3783,Defender,2613.0,29.033333,34.0,170.0,0.0,6.0,1.171068,5.855339,0.000000,0.206659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3402,292654,M. Diakhaby,Mouctar,Diakhaby,674,Defender,765.0,8.500000,5.0,55.0,0.0,5.0,0.588235,6.470588,0.000000,0.588235
3408,325781,J. Lea Siliki,James Edward,Lea Siliki,3774,Midfielder,1820.0,20.222222,4.0,53.0,5.0,15.0,0.197802,2.620879,0.247253,0.741758
3409,326946,R. Coly,Racine,Coly,3775,Defender,639.0,7.100000,3.0,42.0,1.0,0.0,0.422535,5.915493,0.140845,0.000000
3423,393214,V. Rosier,Valentin,Rosier,3804,Defender,2881.0,32.011111,11.0,193.0,6.0,7.0,0.343631,6.029157,0.187435,0.218674
3457,25589,L. San\u00e9,Ludovic Lamine,San\u00e9,8068,Defender,808.0,8.977778,7.0,61.0,0.0,1.0,0.779703,6.794554,0.000000,0.111386

In [80]:
# https://en.wikipedia.org/wiki/Weighted_product_model

# How to pick best across multiple criteria?

In [81]:
# "get" in the lambda

In [82]:
# calculate possession per player

def build_posession_dataframe():
    possession_dict = {}
    #for every row in the dataframe
    for i, row in tqdm(df_minutes_per_game.iterrows()):
        #take player id, team id and match id, minute in and minute out
        player_id, team_id, match_id = row['playerId'], row['teamId'], row['matchId']
        #create a key in dictionary if player encounterd first time
        if not str(player_id) in possession_dict.keys():
            possession_dict[str(player_id)] = {'team_passes': 0, 'all_passes' : 0}
        seconds_in = row['player_in_min'] * 60
        seconds_out = row['player_out_min'] * 60

        #get the dataframe of events from the game
        match_df = df_events.loc[df_events['matchId'] == match_id].copy()
        #add to 2H the highest value of 1H

        match_df.loc[match_df['matchPeriod'] == '2H', 'eventSec'] = match_df.loc[match_df['matchPeriod'] == '2H', 'eventSec'] + match_df.loc[match_df['matchPeriod'] == '1H']['eventSec'].iloc[-1]
        #take all events from this game and this period
        player_in_match_df = match_df.loc[match_df['eventSec'] > seconds_in].loc[match_df['eventSec'] <= seconds_out]
        #take all passes and won duels as described
        all_passes = player_in_match_df.loc[player_in_match_df['eventName'].isin(['Pass', 'Duel'])]
        #adjusting for no passes in this period (Tuanzebe)
        if len(all_passes) > 0:
            #removing lost air duels
            no_contact = all_passes.loc[all_passes['subEventName'].isin(['Air duel', 'Ground defending duel','Ground loose ball duel'])].loc[all_passes.apply(lambda x:{'id':701} in x.tags, axis = 1)]
            all_passes = all_passes.drop(no_contact.index)
        #take team passes
        team_passes = all_passes.loc[all_passes['teamId'] == team_id]
        #append it {player id: {team passes: sum, all passes : sum}}
        possession_dict[str(player_id)]['team_passes'] += len(team_passes)
        possession_dict[str(player_id)]['all_passes'] += len(all_passes)

    #calculate possession for each player
    percentage_dict = {key: value['team_passes']/value['all_passes'] if value['all_passes'] > 0 else 0 for key, value in possession_dict.items()}
    #create a dataframe
    percentage_df = pd.DataFrame(percentage_dict.items(), columns = ['playerId', 'possession'])
    percentage_df['playerId'] = percentage_df['playerId'].astype(int)

    percentage_df.to_csv('percentage_possession.csv')

    return percentage_df

In [83]:
# retrieve possession per player if already exists on disk, else build it
try:
    df_possession_per_player = pd.read_csv('percentage_possession.csv', index_col=0)
except FileNotFoundError:
    df_possession_per_player = build_posession_dataframe()

In [84]:
df_possession_per_player

      playerId  possession
0         9206    0.446999
1         9127    0.439018
2           93    0.438288
3         9179    0.471322
4        10108    0.433335
...        ...         ...
2565    421809    0.608048
2566     37734    0.597884
2567     25519    0.409378
2568    294697    0.648485
2569    342088    0.350318

[2570 rows x 2 columns]

In [85]:
df_all_players_with_minutes_and_metrics_and_possession = df_all_players_with_minutes_and_metrics.merge(df_possession_per_player, how='left', left_on='wyId', right_on='playerId')

In [86]:
for definition in metrics_definitions:
    column_name_possession_adjusted_p90 = definition.metric_name + '_p90_padj'
    df_all_players_with_minutes_and_metrics_and_possession[column_name_possession_adjusted_p90] = df_all_players_with_minutes_and_metrics_and_possession[definition.metric_name + '_p90'] / df_all_players_with_minutes_and_metrics_and_possession['possession']

In [87]:
df_all_players_with_minutes_and_metrics_and_possession[df_all_players_with_minutes_and_metrics_and_possession['role_name']==TARGET_ROLE].sort_values('ground_duels_won_by_anticipation_p90_padj', ascending=False).head(30)

,wyId,shortName,firstName,lastName,currentTeamId,role_name,minutesPlayed,90s,ground_duels_won_by_anticipation,interceptions,...,ground_duels_won_by_anticipation_p90,interceptions_p90,key_passes_p90,passes_as_part_of_counterattack_p90,playerId,possession,ground_duels_won_by_anticipation_p90_padj,interceptions_p90_padj,key_passes_p90_padj,passes_as_part_of_counterattack_p90_padj
1234,3797,V\u00edctor S\u00e1nchez,V\u00edctor,S\u00e1nchez Mata,691,Midfielder,2535.0,28.166667,32.0,176.0,...,1.136095,6.248521,0.071006,0.284024,3797,0.451629,2.515547,13.835506,0.157222,0.628887
195,3566,Camacho,Ignacio,Camacho Barnola,2451,Midfielder,991.0,11.011111,12.0,94.0,...,1.089808,8.536831,0.000000,0.454087,3566,0.485355,2.245386,17.588855,0.000000,0.935577
1422,25995,B. Stambouli,Benjamin,Stambouli,2449,Midfielder,2283.0,25.366667,27.0,155.0,...,1.064389,6.110381,0.078844,0.394218,25995,0.483211,2.202740,12.645357,0.163166,0.815829
1906,339789,Mikel Merino,Mikel,Merino Zaz\u00f3n,687,Midfielder,1419.0,15.766667,14.0,105.0,...,0.887949,6.659619,0.253700,0.443975,339789,0.437200,2.030989,15.232417,0.580283,1.015494
1206,22158,I. Cofie,Isaac,Cofie,3193,Midfielder,622.0,6.911111,6.0,36.0,...,0.868167,5.209003,0.000000,0.144695,22158,0.454720,1.909233,11.455399,0.000000,0.318206
1746,8143,M. Schneiderlin,Morgan,Schneiderlin,1623,Midfielder,2224.0,24.711111,21.0,152.0,...,0.849820,6.151079,0.000000,0.485612,8143,0.454516,1.869726,13.533258,0.000000,1.068415
672,407699,D. Avounou,Bel Durel,Avounou,3783,Midfielder,665.0,7.388889,6.0,46.0,...,0.812030,6.225564,0.135338,0.270677,407699,0.441731,1.838289,14.093550,0.306382,0.612763
1286,221376,M. Steinmann,Ville Matti,Steinmann,2450,Midfielder,610.0,6.777778,6.0,47.0,...,0.885246,6.934426,0.147541,0.147541,221376,0.551656,1.604706,12.570197,0.267451,0.267451
709,14781,L. Bender,Lars,Bender,2446,Midfielder,1638.0,18.200000,15.0,96.0,...,0.824176,5.274725,0.219780,0.329670,14781,0.523733,1.573657,10.071408,0.419642,0.629463
649,45579,Everton Luiz,Everton Luiz,Guimaraes Bilher,3204,Midfielder,679.0,7.544444,5.0,26.0,...,0.662739,3.446244,0.000000,0.530191,45579,0.423531,1.564795,8.136936,0.000000,1.251836
1798,3413,Ander Herrera,Ander,Herrera Ag\u00fcera,1611,Midfielder,1317.0,14.633333,11.0,85.0,...,0.751708,5.808656,0.205011,1.298405,3413,0.511340,1.470074,11.359665,0.400929,2.539219
1083,86309,B. Zuculini,Bruno,Zuculini,12069,Midfielder,1264.0,14.044444,9.0,97.0,...,0.640823,6.906646,0.000000,0.427215,86309,0.438385,1.461780,15.754739,0.000000,0.974520
796,15256,P. Schwegler,Pirmin,Schwegler,2455,Midfielder,2397.0,26.633333,18.0,146.0,...,0.675845,5.481852,0.037547,0.413016,15256,0.474850,1.423280,11.544379,0.079071,0.869782
787,15188,J. Baumgartlinger,Julian,Baumgartlinger,2446,Midfielder,1432.0,15.911111,12.0,71.0,...,0.754190,4.462291,0.125698,0.251397,15188,0.543225,1.388356,8.214438,0.231393,0.462785
1776,8620,M. Diam\u00e9,Mohamed,Diam\u00e9,1613,Midfielder,2129.0,23.655556,14.0,113.0,...,0.591827,4.776891,0.084547,0.422734,8620,0.428689,1.380551,11.143017,0.197222,0.986108
91,265366,W. Ndidi,Onyinye Wilfred,Ndidi,1631,Midfielder,3028.0,33.644444,22.0,247.0,...,0.653897,7.341480,0.118890,0.564729,265366,0.474780,1.377264,15.462919,0.250412,1.189455
1940,30427,J. Mari\u00e9,Jordan,Mari\u00e9,3804,Midfielder,1946.0,21.622222,14.0,91.0,...,0.647482,4.208633,0.092497,0.369990,30427,0.478932,1.351929,8.787536,0.193133,0.772531
1198,3674,Markel Bergara,Markel,Bergara Larra\u00f1aga,698,Midfielder,1521.0,16.900000,9.0,82.0,...,0.532544,4.852071,0.000000,0.355030,3674,0.405390,1.313661,11.968907,0.000000,0.875774
1002,20406,M. Flamini,Mathieu,Flamini,None,Midfielder,503.0,5.588889,3.0,18.0,...,0.536779,3.220676,0.000000,0.536779,20406,0.412914,1.299977,7.799862,0.000000,1.299977
247,3866,M. Iturra,Manuel Rolando,Iturra Urrutia,683,Midfielder,1631.0,18.122222,10.0,75.0,...,0.551809,4.138565,0.220723,0.551809,3866,0.424878,1.298748,9.740608,0.519499,1.298748
1694,7988,Y. Cabaye,Yohan,Cabaye,16928,Midfielder,2441.0,27.122222,16.0,152.0,...,0.589922,5.604261,0.221221,1.290455,7988,0.473336,1.246308,11.839931,0.467366,2.726300
1037,20526,L. Crisetig,Lorenzo,Crisetig,3166,Midfielder,592.0,6.577778,4.0,39.0,...,0.608108,5.929054,0.000000,0.304054,20526,0.488144,1.245755,12.146110,0.000000,0.622877
223,265864,N. Maksimovi\u0107,Nemanja,Maksimovi\u0107,674,Midfielder,589.0,6.544444,4.0,45.0,...,0.611205,6.876061,0.152801,1.375212,265864,0.494051,1.237131,13.917722,0.309283,2.783544
1644,25706,I. Gueye,Idrissa Gana,Gueye,1623,Midfielder,2860.0,31.777778,18.0,190.0,...,0.566434,5.979021,0.062937,0.566434,25706,0.464590,1.219212,12.869465,0.135468,1.219212
189,3538,M. Wakaso,Mubarak,Wakaso,696,Midfielder,1146.0,12.733333,6.0,72.0,...,0.471204,5.654450,0.000000,0.314136,3538,0.397204,1.186302,14.235619,0.000000,0.790868
1391,25805,F. Tabanou,Franck,Tabanou,3785,Midfielder,1094.0,12.155556,7.0,55.0,...,0.575868,4.524680,0.246801,0.411335,25805,0.491665,1.171261,9.202764,0.501969,0.836615
365,3441,Gabi,Gabriel,Fern\u00e1ndez Arenas,679,Midfielder,2431.0,27.011111,15.0,134.0,...,0.555327,4.960921,0.000000,0.925545,3441,0.475089,1.168891,10.442097,0.000000,1.948152
1154,21314,E. Hallfre\u00f0sson,Emil,Hallfre\u00f0sson,3254,Midfielder,817.0,9.077778,5.0,64.0,...,0.550796,7.050184,0.550796,0.660955,21314,0.474706,1.160287,14.851678,1.160287,1.392345
1378,25743,B. Sarr,Bouna,Sarr,3771,Midfielder,1874.0,20.822222,14.0,88.0,...,0.672359,4.226254,0.528282,0.384205,25743,0.582908,1.153456,7.250293,0.906287,0.659118
1679,29640,M. Lemina,Mario,Lemina,1619,Midfielder,1800.0,20.000000,12.0,77.0,...,0.600000,3.850000,0.050000,0.350000,29640,0.522989,1.147253,7.361538,0.095604,0.669231

In [88]:
def calculate_percentiles(position=None, df=df_all_players_with_minutes_and_metrics_and_possession, calculate_overall_rank='product'):    
    if position:
        df = df[df['role_name']==position].copy(deep=True)

    column_names = []
    for definition in metrics_definitions:
        column_name_p90_padj_rank = definition.metric_name + '_p90_padj_rank'
        column_names.append(column_name_p90_padj_rank)
        df[column_name_p90_padj_rank] = df[definition.metric_name + '_p90_padj'].rank(pct=True, ascending=definition.bigger_is_better)

    if calculate_overall_rank == 'product':
        df['overall_rank'] = df[column_names].prod(axis=1)
    elif calculate_overall_rank == 'sum':
        df['overall_rank'] = df[column_names].sum(axis=1)

    return df

In [89]:
calculate_percentiles(position='Midfielder', calculate_overall_rank='sum').sort_values('overall_rank', ascending=False).head(30)

,wyId,shortName,firstName,lastName,currentTeamId,role_name,minutesPlayed,90s,ground_duels_won_by_anticipation,interceptions,...,possession,ground_duels_won_by_anticipation_p90_padj,interceptions_p90_padj,key_passes_p90_padj,passes_as_part_of_counterattack_p90_padj,ground_duels_won_by_anticipation_p90_padj_rank,interceptions_p90_padj_rank,key_passes_p90_padj_rank,passes_as_part_of_counterattack_p90_padj_rank,overall_rank
867,246063,S. Sensi,Stefano,Sensi,3315,Midfielder,1098.0,12.200000,4.0,62.0,...,0.428253,0.765596,11.866745,1.148395,2.296789,0.858956,0.866008,0.936530,0.906911,3.568406
1154,21314,E. Hallfre\u00f0sson,Emil,Hallfre\u00f0sson,3254,Midfielder,817.0,9.077778,5.0,64.0,...,0.474706,1.160287,14.851678,1.160287,1.392345,0.961918,0.980254,0.940762,0.574048,3.456982
190,3539,H. P\u00e9rez,Hern\u00e1n Arsenio,P\u00e9rez Gonz\u00e1lez,696,Midfielder,539.0,5.988889,2.0,19.0,...,0.412095,0.810377,7.698577,1.215565,3.646694,0.877292,0.500705,0.950635,0.997179,3.325811
1694,7988,Y. Cabaye,Yohan,Cabaye,16928,Midfielder,2441.0,27.122222,16.0,152.0,...,0.473336,1.246308,11.839931,0.467366,2.726300,0.971791,0.861777,0.526093,0.952045,3.311707
223,265864,N. Maksimovi\u0107,Nemanja,Maksimovi\u0107,674,Midfielder,589.0,6.544444,4.0,45.0,...,0.494051,1.237131,13.917722,0.309283,2.783544,0.968970,0.954866,0.370945,0.966150,3.260931
1253,285457,H. Ma\u00efga,Digbo G'nampa Habib,Ma\u00efga,13905,Midfielder,737.0,8.188889,3.0,35.0,...,0.460027,0.796366,9.290934,0.796366,2.389097,0.866008,0.664316,0.795487,0.916784,3.242595
1798,3413,Ander Herrera,Ander,Herrera Ag\u00fcera,1611,Midfielder,1317.0,14.633333,11.0,85.0,...,0.511340,1.470074,11.359665,0.400929,2.539219,0.985896,0.829337,0.462623,0.935120,3.212976
246,69400,M. Badelj,Milan,Badelj,3162,Midfielder,2445.0,27.166667,14.0,195.0,...,0.533084,0.966710,13.464883,0.552405,1.657216,0.932299,0.942172,0.616361,0.717913,3.208745
1475,26508,R. Cohade,Renaud,Cohade,3777,Midfielder,3410.0,37.888889,11.0,209.0,...,0.458867,0.632695,12.021203,0.632695,2.013120,0.778561,0.873061,0.679831,0.842031,3.173484
1905,303357,P. Billing,Philip,Billing,1673,Midfielder,809.0,8.988889,3.0,72.0,...,0.411521,0.811004,19.464106,0.270335,2.703348,0.878702,1.000000,0.338505,0.950635,3.167842
798,15276,M. Weiser,Mitchell,Weiser,2457,Midfielder,2053.0,22.811111,8.0,116.0,...,0.476207,0.736458,10.678641,1.196744,1.380859,0.840621,0.787024,0.947814,0.561354,3.136812
983,134387,L. Goretzka,Leon,Goretzka,2444,Midfielder,2069.0,22.988889,7.0,129.0,...,0.460575,0.661119,12.183476,0.472228,2.172248,0.799718,0.885755,0.534556,0.880113,3.100141
828,15782,J. Mor\u00e1vek,Jan,Mor\u00e1vek,2481,Midfielder,726.0,8.066667,4.0,48.0,...,0.442295,1.121124,13.453494,0.560562,1.401406,0.957687,0.940762,0.623413,0.576869,3.098731
896,49982,A. Abrashi,Amir,Abrashi,2453,Midfielder,884.0,9.822222,2.0,59.0,...,0.395034,0.515449,15.205738,0.515449,2.061795,0.674189,0.983075,0.583921,0.851904,3.093089
1497,135561,F. Grillitsch,Florian,Grillitsch,2482,Midfielder,1954.0,21.711111,7.0,125.0,...,0.511469,0.630371,11.256630,0.540318,2.161273,0.775740,0.818054,0.607898,0.871650,3.073343
1401,25861,J. Guilavogui,Josuha,Guilavogui,2451,Midfielder,2471.0,27.455556,14.0,179.0,...,0.495241,1.029630,13.164559,0.441270,1.617990,0.943583,0.932299,0.497884,0.698166,3.071932
316,4511,Pedro Mosquera,Pedro,Mosquera Parada,677,Midfielder,1444.0,16.044444,7.0,89.0,...,0.458462,0.951635,12.099356,0.271896,2.447061,0.925247,0.878702,0.341326,0.923836,3.069111
1601,135114,P. H\u00f8jbjerg,Pierre-Emile,H\u00f8jbjerg,1619,Midfielder,1753.0,19.477778,9.0,107.0,...,0.474608,0.973573,11.574699,0.324524,2.055320,0.933709,0.846262,0.394922,0.849083,3.023977
1791,8925,A. Westwood,Ashley,Westwood,1646,Midfielder,1169.0,12.988889,4.0,72.0,...,0.454830,0.677078,12.187401,0.507808,1.692695,0.811001,0.887165,0.578279,0.726375,3.002821
312,4488,Sa\u00fal,Sa\u00fal,\u00d1\u00edguez Esclapez,679,Midfielder,3263.0,36.255556,14.0,215.0,...,0.470550,0.820631,12.602543,0.410315,1.699878,0.882934,0.911142,0.468265,0.729196,2.991537
1424,26000,B. Dabo,Bryan,Dabo,3176,Midfielder,1952.0,21.688889,11.0,104.0,...,0.472020,1.074471,10.158637,0.781434,1.269830,0.950635,0.744711,0.775740,0.506347,2.977433
598,43515,Andrei Girotto,Andrei,Girotto,3770,Midfielder,1586.0,17.622222,5.0,89.0,...,0.422617,0.671370,11.950392,0.537096,1.611289,0.806770,0.867419,0.603667,0.696756,2.974612
574,116345,F. P\u00edriz,Facundo Juli\u00e1n,P\u00edriz Gonz\u00e1lez,3787,Midfielder,854.0,9.488889,3.0,46.0,...,0.480612,0.657826,10.086670,0.438551,2.631305,0.795487,0.736248,0.495063,0.947814,2.974612
1045,20561,S. Luli\u0107,Senad,Luli\u0107,3162,Midfielder,2495.0,27.722222,8.0,121.0,...,0.498239,0.579195,8.760318,0.796393,1.954782,0.746121,0.600846,0.796897,0.830748,2.974612
502,7965,Lucas Leiva,Lucas,Pezzini Leiva,3162,Midfielder,2987.0,33.188889,14.0,176.0,...,0.507898,0.830537,10.441037,0.415269,2.017019,0.889986,0.767278,0.472496,0.843441,2.973202
335,4683,A. Szymanowski,Alexander,Szymanowski,712,Midfielder,1094.0,12.155556,2.0,47.0,...,0.439172,0.374646,8.804172,1.123937,2.247874,0.526093,0.610719,0.932299,0.897038,2.966150
1626,77548,J. Allen,Joe,Allen,1639,Midfielder,3287.0,36.522222,12.0,193.0,...,0.431354,0.761711,12.250860,0.253904,2.221659,0.857546,0.888575,0.320169,0.887165,2.953456
1906,339789,Mikel Merino,Mikel,Merino Zaz\u00f3n,687,Midfielder,1419.0,15.766667,14.0,105.0,...,0.437200,2.030989,15.232417,0.580283,1.015494,0.995769,0.984485,0.637518,0.334274,2.952045
839,15942,L. Rupp,Lukas,Rupp,2482,Midfielder,1193.0,13.255556,5.0,58.0,...,0.483696,0.779829,9.046014,0.779829,1.559658,0.860367,0.641749,0.774330,0.667137,2.943583
1207,22162,F. Magnanelli,Francesco,Magnanelli,3315,Midfielder,2591.0,28.788889,8.0,235.0,...,0.442444,0.628068,18.449508,0.392543,1.648679,0.772920,0.998590,0.454161,0.715092,2.940762